*	{
	margin: 0;
	padding: 0;
	}
html, body	{
	height: 100%;
	}
body	{
	background: #fff;
	color: #393939;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 75%;
	}
	




.print_table{
border: 1px solid #2A1F00;
}
.print_table th{
padding: 3px;
border: 1px solid #2A1F00;
}
.print_table td{
border: 1px solid #2A1F00;
padding: 3px;
}


#hidden_div{display: none;}


.sale_subtitle{
font-size:14px;
font-weight:bold;
color:#AA0055;
text-transform:uppercase;
padding-left:2px;
}


.sale_item{
font-weight:bold;
}


.sample_01{
width: 100%;
border-collapse: collapse;
}
.sample_01 th{
padding: 2px;
text-align: center;
vertical-align: top;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
}
.sample_01 td{
padding: 2px;
background-color: #fff;
border: 1px solid #b9b9b9;
}

