RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

#php_value max_input_vars 10000
#php_value post_max_size 128M
#php_value upload_max_size 128M
#php_value memory_limit 128M
#php_value upload_max_filesize 128M

#LimitRequestBody 0
#LimitXMLRequestBody 0
#RLimitCPU max
#RLimitMEM max
#RLimitNPROC max 
